<div class="footer-top-area">
<div class="footer">
    <ul class="aboutus">
        <li><a style="font-size:16px;font-weight: 1000;">ABOUT APEX</a></li>
        <li><a>About Us</a></li>
        <li><a>News & Offers</a></li>
        <li><a>Contut Us</a></li>
        <li><a>Blog</a></li>
        <li><a>FAQ</a></li>
      
      </ul>
      <ul class="myprofile">
        <li><a style="font-size:16px ;font-weight: 1000;">Support</a></li>
        <li><a>My Profile</a></li>
        <li><a>Order Status</a></li>
        <li><a>Delivery Policy</a></li>
        <li><a>Exchange Policy</a></li>
        <li><a>Order & Pricing Policy</a></li>
        <li><a>Gift Voucher’s Terms & Conditions</a></li>
        <li><a>Warranty, Special Terms & Conditions</a></li>
        <li><a>Click & Collect Terms & Conditions</a></li>
        <li><a>Rewards FAQ</a></li>
      
      </ul>
      
      <ul class="fbYoutube" style="text-align: center">
        <li><a style="font-size: 20px;font-weight: 1000;">Follow Us On</a></li>
          <div class="mediaLogo social_media_logo">
                      
        <li>
            <img src="../../../../assets/medialogo/facebook.png">
        </li>
        <li>
         
                <img src="/assets/medialogo/instagram.png">
            
        </li>
        <li><img src="/assets/medialogo/linkedin.png"></li>
        <li><img src="/assets/medialogo/youtube.png"></li>
      

          </div>
      </ul> 
      <ul>
        <li><a style="font-size: 16px;">STAY CONNECTED WITH APEX MAILING LIST</a></li>
        <li><a>Be the first to new products, exclusive events and online offers</a></li>
        <li class="inputAndSubmite">
          <input type="text" placeholder="Enter your email adderss">
          <button class="input_button" type="submit">Subscribe</button>
        </li>
        <li><a>By signing up, you agree to receive our newsletters and information about<br> our products, services and events by email, phone and instant messaging and agree to our <span style="border-bottom:1px solid white ;">Privacy Ploicy .</span></a></li>
      </ul> 
</div>
   
  
</div>
<div class="endFooter">
    <p><span>©</span>Apex Footwear Limited 2022</p>
</div>
